<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A simple web app">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <title>A simple web app</title>

    <script>
        $(function(){
            $('form').on('submit', function(){
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('process_user_query') }}",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({
                        query: $('textarea[name="q"]').val()
                    })
                }).done(function (response) {
                    $('div.result-area').html('');
                    if(response && response.pop) {
                        var $list = $('<ol></ol>').addClass('list-group');
                        $('div.result-area').append($list);
                        $.each(response, function(i, item){
                            $list.append(
                                $('<li></li>')
                                    .addClass('card-body list-group-item')
                                    .append(
                                        $('<code></code>')
                                            .text(item.toString())
                                    )
                            );
                        });
                    }
                    else if(typeof(response) == "string") {
                        $('div.result-area').append(
                            $('<pre></pre>')
                                .append($('<code></code>').text(response.toString()))
                        )
                    }
                    else {
                        var $tbody = $('<tbody></tbody>');
                        var $table = $('<table></table>').addClass('table').append($tbody);

                        for(p in response){
                            $tbody.append(
                                $('<tr></tr>')
                                    .append(
                                        $('<td></td>').text(p.toString())
                                    )
                                    .append(
                                        $('<td></td>').append(
                                            $('<pre></pre>').append(
                                                $('<code></code>')
                                                    .text(response[p].toString())
                                            )
                                        )
                                    )
                            )
                        }
                        $('div.result-area').append($table);
                    }
                }).fail(function (error) {
                    $('div.result-area').html('Looks like an error happened while processing your request. It can be an error in backend or lost connection.');
                    console.log(error);
                });
                return false;
            });
        });
    </script>
</head>
<body>
    <div class="container">
    <header class="sticky-top">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                    <label for="mainTextArea">Type a long article here:</label>
                    <textarea id="mainTextArea" class="form-control" name="q" ></textarea>
                    </div>
                    <div class="form-group">
                    <button class="btn btn-outline-secondary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="card"><div class="card-body result-area">You will see the lenguage of the here.</div></div>

    <footer class="footer">
        <hr>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <p class="muted pull-right">© Sagan Catalina, 2017</p>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>
